
.tableForm {

}

/*selektovanje prve kolone*/
.tableForm > tbody > tr:first-child > td:first-child {
    text-align: right;
}

/*selektovanje pre celije u tabeli*/
.tableForm > tbody > tr > td:first-child {
    text-align: right;
}


.tableForm td{    
    padding: 5px;
}


.hor-minimalist-b0
{   
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
    font-size: 12px;
    /*background: #fff;    */

    /*margin: 45px;*/
    /*width: 650px;*/
    width: 750px;
    border-collapse: collapse;
    text-align: left;
}
.hor-minimalist-b0 th
{
    font-size: 13px;
    /*font-weight: normal;*/
    font-weight: 700;
    /*color: #039;*/
    color:black;    
    padding: 10px 8px;
    /*border-bottom: 2px solid #6678b1;*/
    border-bottom: 2px solid #000044;
    /*border-top: 0px solid #000044;*/

}
.hor-minimalist-b0 td
{
    border-bottom: 1px solid #ccc;

    /*color: #669;*/
    /*color: dimgrey;*/
    color: black;
    padding: 6px 8px;
}
.hor-minimalist-b0 tbody tr:hover td
{
    color: #009;           
}

/*omogućava da se link raširi po celoj ćeliji tabele'*/
.hor-minimalist-b0 tr td a {
    display:block;
    height:100%;
    width:100%;
    text-decoration: none;
}




/*početak - sa dodatim strelicama za sortiranje*/
.hor-minimalist-b
{    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 11px;
    /*background: #fff;    */
    /*margin: 45px;*/
    /*width: 650px;*/
    width: 750px;
    border-collapse: collapse;
    text-align: left;
}
.hor-minimalist-b th
{
    font-size: 13px;
    /*font-weight: normal;*/
    font-weight: 700;
    /*color: #039;*/
    color:black;    
    padding: 10px 8px;
    /*border-bottom: 2px solid #6678b1;*/
    border-bottom: 2px solid #000044;
    /*border-top: 0px solid #000044;*/

    /*pomerio tekst udesno, jer sam strelice dodao ispred teksta*/
    padding-left: 20px;
}
.hor-minimalist-b td
{
    border-bottom: 1px solid #ccc;

    /*color: #669;*/
    /*color: dimgrey;*/
    color: black;
    padding: 6px 8px;
}
.hor-minimalist-b tbody tr:hover td
{
    color: #009;           
}

/*omogućava da se link raširi po celoj ćeliji tabele'*/
.hor-minimalist-b tr td a {
    display:block;
    height:100%;
    width:100%;
    text-decoration: none;
}


/* dodavanje strelica */
.hor-minimalist-b thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    background-position: center left;
    cursor: pointer;
}
.hor-minimalist-b tbody td {
    color: #3D3D3D;
    padding: 4px;
    /*background-color: #FFF;*/
    vertical-align: top;
}

.hor-minimalist-b tbody tr.odd td {
    background-color:#F0F0F6;
}
.hor-minimalist-b thead tr .headerSortUp {
    background-image: url(asc.gif);
}

.hor-minimalist-b thead tr .headerSortDown {
    background-image: url(desc.gif);
}
/*kraj*/




/*
table tr td a {
    display:block;
    height:100%;
    width:100%;
}*/


.hor-minimalist2-b
{    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 11px;
    /*background: #fff;    */
    /*margin: 45px;*/
    /*width: 650px;*/
    width: 750px;
    border-collapse: collapse;
    text-align: left;
}
.hor-minimalist2-b th
{
    font-size: 13px;
    /*font-weight: normal;*/
    font-weight: 700;
    /*color: #039;*/
    color:black;    
    padding: 10px 8px;
    /*border-bottom: 2px solid #6678b1;*/
    border-bottom: 2px solid #000044;
    /*border-top: 0px solid #000044;*/



}
.hor-minimalist2-b td
{
    border-bottom: 1px solid #ccc;

    /*color: #669;*/
    /*color: dimgrey;*/
    color: black;
    padding: 6px 8px;
}
.hor-minimalist2-b tbody tr:hover td
{
    color: #009;           
}

/*omogućava da se link raširi po celoj ćeliji tabele'*/
.hor-minimalist2-b tr td a {
    display:block;
    height:100%;
    width:100%;
    text-decoration: none;
}
