<div style="padding: 5px;">
    <nav>  
        <a href="index.php">Ankete</a>
        <a href="#">Moje ankete</a>
        <a href="#">Rezultati</a>
        <a href="#">Kontakt</a>
        <a href="#">Napravi anketu</a>
    </nav>
</div>

